apiVersion: apps/v1
kind: Deployment
metadata:
  name: redirect
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redirect
  template:
    metadata:
      labels:
        app: redirect
    spec:
      containers:
      - name: redirect
        image: ruhaoyang/redirect-service:1.0
        ports:
        - containerPort: 5002
        resources:
          limits:
            cpu: "300m"
            memory: "128Mi"
          requests:
            cpu: "150m"
            memory: "64Mi"
